/*!
TFA - The North Western Editor Styles
*/

/** === Includes === */

@import "sass/variables-site/variables-site";
@import "sass/mixins/mixins-master";

/** === Editor Frame === */

body {
	background-color: $color__background-body;

	.wp-block[data-align="full"] {
		width: 100%;
	}

	@include media(mobile) {

		.wp-block[data-align="full"] {
			width: calc( 100% + 90px );
			max-width: calc( 100% + 90px );
		}
	}

	@include media(tablet) {

		.editor-writing-flow {
			max-width: 80%;
			margin: 0 10%;
		}

		.wp-block[data-align="wide"] {
			width: 100%;
		}

		.wp-block[data-align="full"] {
			position: relative;
			left: calc( -12.5% - 14px );
			width: calc( 125% + 116px );
			max-width: calc( 125% + 115px ); // Subtract 1px here to avoid the rounding errors that happen due to the usage of percentages.
		}

		.wp-block[data-align="right"] {
			max-width: 125%;
		}
	}
}

/** === Content Width === */

.wp-block {
	width: calc(100vw - (2 * #{$size__spacing-unit}));
	max-width: 100%;

	@include media(tablet) {
		width: calc(8 * (100vw / 12));
	}

	@include media(desktop) {
		width: calc(6 * (100vw / 12 ));
	}

	// Only the top level blocks need specific widths, therefore override for every nested block.
	.wp-block {
		width: 100%;
	}
}

/** === Base Typography === */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color__text-main;
	font-family: $font__body;
	font-weight: 400;
	font-size: $font__size_base;
	line-height: $font__line-height-body;
	text-rendering: optimizeLegibility;
}

p {
	font-size: $font__size_base;

	&.has-small-font-size {
		font-size: $font__size-sm;
	}

	&.has-normal-font-size {
		font-size: $font__size-md;
	}

	&.has-large-font-size {
		font-size: $font__size-lg;
	}

	&.has-huge-font-size {
		font-size: $font__size-xl;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__heading;
	font-weight: 600;
	letter-spacing: 0;
	line-height: $font__line-height-heading;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;

	.editor-inner-blocks & {
		margin-top: 1.375rem;
		margin-bottom: 1.375rem;
		text-align: inherit;
	}
}

h1 {
	font-size: $font__size-lg;
}

h2 {
	font-size: $font__size-md;
}

h3 {
	font-size: $font__size_base;
}

h4 {
	font-size: $font__size-sm;
}

h5 {
	font-size: $font__size-xs;
}

h6 {
	font-size: $font__size-xxs;
}

a {
	@include link-transition;
	color: $color__link;

	*:visited {
		color: $color__link;
	}

	&:hover,
	&:active {
		color: $color__link-hover;
		outline: 0;
		text-decoration: none;
	}

	&:focus {
		outline: 0;
		text-decoration: underline;
	}
}

// Use white text against these backgrounds by default.
.has-primary-background-color,
.has-secondary-background-color,
.has-dark-gray-background-color,
.has-light-gray-background-color {
	color: $color__background-body;

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a {
		color: $color__background-body;
	}
}

// Use dark gray text against this background by default.
.has-white-background-color {
	color: $color__text-main;

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a {
		color: $color__text-main;
	}
}

figcaption,
.gallery-caption {
	font-family: $font__heading;
	font-size: $font__size-xs;
	line-height: 1.6;
	color: $color__text-light;
}

/** === Post Title === */

.editor-post-title__block {

	font-size: $font__size_base;

	.editor-post-title__input {
		font-family: $font__heading;
		font-size: $font__size-lg;
		font-weight: 600;
		color: $color__text-main;
		text-align: center;

		@include media(tablet) {
			font-size: $font__size-xl;
		}
	}
}

/** === Default Appender === */

.editor-default-block-appender .editor-default-block-appender__content {
	font-family: $font__body;
	font-size: $font__size_base;
}

/** === Heading === */

.wp-block-heading {
	strong {
		font-weight: bolder;
	}
}
/** === Paragraph === */

.wp-block-paragraph {

	&.has-drop-cap:not(:focus)::first-letter {
		font-family: $font__heading;
		font-size: $font__size-xxxl;
		line-height: 1;
		font-weight: bold;
		margin: 0 0.25em 0 0;
	}
}

/** === Table === */

.wp-block-table {
	font-family: $font__heading;
}

/** === Cover === */

.wp-block-cover {
	min-height: 80vh;

	.wp-block-cover__inner-container,
	.wp-block-cover-text {
		padding-left: $size__spacing-unit;
		padding-right: $size__spacing-unit;

		strong {
			font-weight: bolder;
		}

		@include media(tablet) {
			margin-left: auto;
			margin-right: auto;
			padding: 0;
		}
	}

	.wp-block-cover__inner-container {
		a {
			color: inherit;
		}

		h1, h2, h3, h4, h5, h6 {
			font-weight: 700;
		}

		h1 {
			font-size: $font__size-xl;

			@include media(tablet) {
				font-size: $font__size-xxl;
			}
		}

		.wp-block-cover-image-text,
		.wp-block-cover-text,
		h2 {
			font-size: $font__size-lg;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
			padding: 0;

			@include media(tablet) {
				font-size: $font__size-xl;
			}
		}

		h3 {
			font-size: $font__size-md;

			@include media(tablet) {
				font-size: $font__size-lg;
			}
		}

		h4 {
			font-size: $font__size_base;

			@include media(tablet) {
				font-size: $font__size-md;
			}
		}

		h5 {
			font-size: $font__size-sm;

			@include media(tablet) {
				font-size: $font__size_base;
			}
		}

		h6 {
			font-size: $font__size-xs;

			@include media(tablet) {
				font-size: $font__size-sm;
			}
		}
	}

	@include media(tablet) {
		padding-left: 10%;
		padding-right: 10%;
	}
}

.wp-block[data-type="core/cover"][data-align="left"],
.wp-block[data-type="core/cover"][data-align="right"] {

	.editor-block-list__block-edit {
		width: calc(4 * (100vw / 12));
	}

	.wp-block-cover {
		width: 100%;
		max-width: 100%;
		padding: calc(1.375 * #{$size__spacing-unit});

		p {
			padding-left: 0;
			padding-right: 0;
		}

		@include media(tablet) {
			padding: calc(2.75 * #{$size__spacing-unit}) calc(2.75 * #{$size__spacing-unit}) calc(3.125 * #{$size__spacing-unit});
		}
	}
}

.wp-block[data-type="core/cover"][data-align="wide"],
.wp-block[data-type="core/cover"][data-align="full"] {
	@include media(tablet) {

		.wp-block-cover-text,
		.wp-block-cover__inner-container {
			max-width: calc(8 * (100vw / 12));
		}
	}
}

.wp-block[data-type="core/cover"][data-align="wide"] {

	@include media(tablet) {

		h2,
		.wp-block-cover-text {
			max-width: calc(6 * (100vw / 12));
		}
	}
}

.wp-block[data-type="core/cover"][data-align="full"] {

	@include media(tablet) {

		.wp-block-cover {
			padding-left: calc(10% + 64px);
			padding-right: calc(10% + 64px);

			.wp-block-cover__inner-container {
				h1 {
					font-size: $font__size-xxxxl;
				}

				h2 {
					font-size: $font__size-xxxl;
				}
			}
		}
	}
}

/** === Gallery === */

.wp-block-gallery {

	.blocks-gallery-image figcaption,
	.blocks-gallery-item figcaption,
	.gallery-item .gallery-caption {
		font-size: $font__size-xs;
		line-height: 1.6;
	}
}

/** === Button === */

.wp-block-button {

	.wp-block-button__link {
		color: $color__background-body;
		line-height: 1.8;
		font-family: $font__heading;
		font-size: $font__size-sm;
		font-weight: 600;
	}

	&:not(.is-style-outline) .wp-block-button__link {
		background: $color__background-button;
	}

	&:not(.is-style-squared) .wp-block-button__link {
		border-radius: 5px;
	}

	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
		background: transparent;
		color: $color__background-button;

		.wp-block-button__link {
			background: transparent;

			&:not(.has-text-color) {
				color: $color__background-button;
			}
		}
	}
}

/** === Blockquote === */

.wp-block-quote {

	&:not(.is-large):not(.is-style-large) {
		border-color: $color__link;
		border-width: 2px;
	}

	&.is-large,
	&.is-style-large {
		margin-top: $font__size-xxl;
		margin-bottom: $font__size-xxl;
	}

	&.is-large p,
	&.is-style-large p {
		font-size: $font__size-lg;
		line-height: 1.3;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	cite,
	footer,
	.wp-block-quote__citation {
		font-family: $font__heading;
		font-size: $font__size-xs;
		line-height: 1.6;
		color: $color__text-light;
	}
}

/** === Pullquote === */

.wp-block-pullquote {
	border-color: transparent;
	border-width: 2px;
	color: $color__text-main;

	blockquote {
		margin-top: calc(3 * #{ $size__spacing-unit});
		margin-bottom: calc(3.33 * #{ $size__spacing-unit});
		hyphens: auto;
		word-break: break-word;
	}

	&:not(.is-style-solid-color) .wp-block-pullquote__citation {
		color: $color__text-light;
	}

	&.is-style-solid-color {

		blockquote {
			width: calc(100% - (2 * #{ $size__spacing-unit}));
			max-width: calc( 100% - (2 * #{ $size__spacing-unit}));

			a,
			&.has-text-color p,
			&.has-text-color a {
				color: inherit;
			}

			&:not(.has-text-color) {
				color: $color__background-body;
			}

			@include media(tablet) {
				max-width: 80%;
			}
		}

		&:not(.has-background-color) {
			background-color: $color__link;
		}
	}
}

.wp-block[data-type="core/pullquote"],
.wp-block[data-type="core/pullquote"][data-align="left"],
.wp-block[data-type="core/pullquote"][data-align="right"] {

	blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
	blockquote > .editor-rich-text p,
	p {
		font-size: $font__size-lg;
		font-style: italic;
		line-height: 1.3;
		margin-bottom: 0.5em;
		margin-top: 0.5em;

		@include media(tablet) {
			font-size: $font__size-xl;
		}
	}

	.wp-block-pullquote__citation {
		font-family: $font__heading;
		font-size: $font__size-xs;
		line-height: 1.6;
		text-transform: none;
	}

	em {
		font-style: normal;
	}
}

.wp-block[data-type="core/pullquote"][data-align="left"],
.wp-block[data-type="core/pullquote"][data-align="right"] {

	.editor-block-list__block-edit {
		width: calc(4 * (100vw / 12));
		max-width: 50%;

		.wp-block-pullquote:not(.is-style-solid-color) {
			padding: 0;
		}

		.wp-block-pullquote.is-style-solid-color {
			padding: 1em;
		}
	}

	blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
	blockquote > .editor-rich-text p,
	p,
	.wp-block-pullquote__citation {
		text-align: left;
	}
}

.wp-block[data-type="core/pullquote"][data-align="full"] {

	@include media(tablet) {

		.wp-block-pullquote blockquote {
			max-width: calc(80% - 128px);
		}
	}
}


/** === File === */

.wp-block-file {
	font-family: $font__heading;

	.wp-block-file__textlink {
		text-decoration: underline;
		color: $color__link;

		&:hover {
			color: $color__link-hover;
			text-decoration: none;
		}
	}

	.wp-block-file__button {
		color: $color__background-body;
		display: table;
		line-height: 1.8;
		font-size: $font__size-sm;
		font-weight: 600;
		background-color: $color__link;
		border-radius: 5px;
	}

	.wp-block-file__button-richtext-wrapper {
		display: block;
		margin-top: calc(0.75 * #{$size__spacing-unit});
		margin-left: 0;
	}

}

/** === Verse === */

.wp-block-verse,
.wp-block-verse pre {
	color: $color__text-main;
	padding: 0;
}

/** === Code === */

.wp-block-code {
	.editor-plain-text {
		background-color: transparent;
		border-radius: 0;
		color: $color__text-main;
	}
}

/** === Preformatted === */

.wp-block-preformatted {
	pre {
		color: $color__text-main;
	}
}


/** === Media & Text === */

// Remove spacing between consecutive Media & Text blocks.
[data-type="core/media-text"] {

	.wp-block-media-text {
		background: $color__background-screen;

		a,
		a:hover {
			color: inherit;
		}
	}

	& + [data-type="core/media-text"] {
		margin-top: -$size__vertical-spacing-unit;
	}

	@include media(desktop) {
		.editor-block-list__layout {
			border-left: 2px solid rgba(255,255,255,0.15);
			margin-left: 0;
			margin-right: 0;
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	&[data-align="full"] .is-stacked-on-mobile .block-editor-inner-blocks {
		padding: 0 1rem;

		@include media(mobile) {
			padding: 0 8%;
		}
	}
}

/** === Table === */

.wp-block-table {

	td, th {
		border-color: $color__text-light;
	}
}

/** === Separator === */

.wp-block-separator {

	&:not(.is-style-dots) {
		border-bottom: 2px solid $color__background-hr;
	}

	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 5em;
		margin-left: auto;
	}

	&.is-style-dots:before {
		color: $color__background-hr;
		font-size: $font__size-lg;
		letter-spacing: calc(2 * #{$size__spacing-unit});
		padding-left: calc(2 * #{$size__spacing-unit});
	}
}

/* Remove duplicate rule-line when a separator
 * is followed by an H1, or H2 */
.wp-block[data-type="core/separator"] + .wp-block[data-type="core/heading"] h1:before,
.wp-block[data-type="core/separator"] + .wp-block[data-type="core/heading"] h2:before {
	display: none;
}

/** === Latest Posts, Archives, Categories === */

ul.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
	padding: 0;
	list-style-type: none;

	ul {
		padding: 0;
		list-style-type: none;
	}

	li {
		color: $color__text-light;
		font-family: $font__heading;
		font-size: calc(#{$font__size_base} * #{$font__size-ratio});
		line-height: $font__line-height-heading;
		padding-bottom: ( .75 * $size__spacing-unit );

		&.menu-item-has-children,
		&:last-child {
			padding-bottom: 0;
		}

		a {
			text-decoration: none;
		}

		ul {
			padding-left: $size__spacing-unit;
		}
	}
}

.wp-block-categories {

	ul {
		padding-top: ( .75 * $size__spacing-unit );
		@include nestedSubMenuPadding();
	}

	li ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: ( -.75 * $size__spacing-unit );
	}

}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid {
	li {
		border-top: 2px solid $color__border;
		padding-top: (1 * $size__spacing-unit);
		margin-bottom: (2 * $size__spacing-unit);
		a {
			&:after {
				content: '';
			}
		}
		&:last-child {
			margin-bottom: auto;
			a:after {
				content: '';
			}
		}
	}
}

/** === Latest Comments === */

.wp-block-latest-comments {

	.wp-block-latest-comments__comment-meta {
		font-family: $font__heading;

		.wp-block-latest-comments__comment-date {
			font-weight: normal;
		}
	}

	.wp-block-latest-comments__comment,
	.wp-block-latest-comments__comment-date,
	.wp-block-latest-comments__comment-excerpt p {
		font-size: inherit;
	}

	.wp-block-latest-comments__comment-date {
		color: $color__text-light;
		font-size: $font__size-xs;
	}
}

/** === Classic Editor === */

/* Properly center-align captions in the classic-editor block */
.wp-caption {
	dd {
		color: $color__text-light;
		font-size: $font__size-xs;
		font-family: $font__heading;
		line-height: $font__line-height-pre;
		margin: 0;
		padding: ( $size__spacing-unit * .5 );
		text-align: left;
		text-align: center;
		-webkit-margin-start: 0px;
		margin-inline-start: 0px;
	}
}

.wp-block-freeform {

	/* Add style for galleries in classic-editor block */
	blockquote {
		border-left: 2px solid $color__link;

		cite {
			font-family: $font__heading;
			font-size: $font__size-xs;
			font-style: normal;
			line-height: 1.6;
			color: $color__text-light;
		}
	}
}

/* Make sure our non-latin font overrides don't overwrite the iconfont used in the classic editor toolbar */
.wp-block[data-type="core/freeform"] .mce-btn i {
	font-family: dashicons !important;
}

/* Contact Form - temporary work-around */

.jetpack-field-label__input,
.jetpack-field-label__input:focus {
	border-color: transparent;
	background-color: transparent;
	color: #fff !important;
}

/** === Mailchimp Block - Temp Fix === */
.wp-block-jetpack-mailchimp {
	p {
		font-size: $font__size-xs;
  }
}

/** === Business Hours Block - Temp Fix === */
.wp-block-jetpack-business-hours {
	dt,
	dd {
		float: left;
	}

	dt {
		clear: both;
		font-weight: bold;
		margin-right: ( $size__spacing-unit * .5 );
	}

	dd {
		margin: 0;
	}
}
