// Custom Colours
$gold:  #DCA94D;

// Custom Fonts
$palanquin: 'Palanquin Dark', sans-serif;
$hind: 'Hind', sans-serif;

// Corrects Primary Content Position
section#primary{
    margin-top: -70px;
}

// Top Level Elements
header#masthead{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 9;
    padding: 0 5vw;
    .site-branding-container{
        .site-branding{
            // Top Level Logo
            .site-logo{
                position: absolute;
                left: 0;
                top: 0;
                background-color: #fff;
                width: 165px;
                height: 240px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin: 0;
                border-radius: 0 0 5px 5px;
                img{
                    max-height: 200px;
                    max-width: 150px;
                    margin: 0 auto 35px;
                    display: block;
                }
            }
            // Top Level Navigation
            nav.main-navigation{
                margin-top: 5vh;
                .menu-header-nav-container{
                    width: 100%;
                    ul.site-navigation{
                        width: 100%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li.menu-item{
                            padding: 3px 2vw 0;
                            a{
                                font-size: 24px;
                                font-family: $hind;
                                font-weight: 700;
                                line-height: 40px;
                                color: #fff;
                                font-weight: 700;
                            }
                            &:last-child{
                                position: absolute;
                                right: 0px;
                                background-color: $gold;
                                border-radius: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

article.page{
    background-color: #f1f5f8;
    // Gutenburg Content
    .entry-content{
        // Direct Element Injections
        > h2{
            font-size: 40px;
            font-family: $palanquin;
            font-weight: 700;
            color: #3f3f3f;
            &:nth-of-type(3){
                position: relative;
            }
        }

        // Carousel
        .wp-block-cb-carousel{
            height: 100vh;
            // Full Cover Carousel
            &.alignfull{
                .wp-block-cover{
                    height: 100vh;
                    .wp-block-cover__inner-container{
                        h1{
                            color: #fff;
                            font-size: 129px;
                            font-family: $palanquin;
                            font-weight: 700;
                        }
                        h2{
                            color: $gold;
                            font-size: 69px;
                            font-family: $hind;
                            font-weight: 700;
                        }
                    }
                }
            }
        }


    }
}
